# dependencies
node_modules/

# build
/dist/
/client/dist/
/server/dist/

# local env
.env
.env.*

# sqlite
server/data/*.db
server/data/*.db-*
server/data/*.sqlite
server/data/*.sqlite-*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.DS_Store
